<h1>Formulario de cliente</h1>

<form [formGroup]="customerForm">
  <!-- Tipo de Documento -->
  <mat-form-field appearance="outline">
    <mat-label>Tipo de documento</mat-label>
    <mat-select formControlName="identification_document_id">
      <mat-option value="">Seleccione</mat-option>
      @for (item of identificationDocumentTypes; track item.id) {
        <mat-option [value]="item.id">
          {{item.name}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!-- Número de Identificación -->
  <mat-form-field appearance="outline">
    <mat-label>Identificación</mat-label>
    <input matInput formControlName="identification" />
  </mat-form-field>

  <!-- DV (Dígito de Verificación) -->
  <mat-form-field appearance="outline">
    <mat-label>DV</mat-label>
    <input matInput formControlName="dv" />
  </mat-form-field>

  <!-- Empresa -->
  <mat-form-field appearance="outline">
    <mat-label>Empresa</mat-label>
    <input matInput formControlName="company" />
  </mat-form-field>

  <!-- Nombre Comercial -->
  <mat-form-field appearance="outline">
    <mat-label>Nombre Comercial</mat-label>
    <input matInput formControlName="trade_name" />
  </mat-form-field>

  <!-- Nombres -->
  <mat-form-field appearance="outline">
    <mat-label>Nombres</mat-label>
    <input matInput formControlName="names" />
  </mat-form-field>

  <!-- Dirección -->
  <mat-form-field appearance="outline">
    <mat-label>Dirección</mat-label>
    <input matInput formControlName="address" />
  </mat-form-field>

  <!-- Email -->
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>

  <!-- Teléfono -->
  <mat-form-field appearance="outline">
    <mat-label>Teléfono</mat-label>
    <input matInput formControlName="phone" />
  </mat-form-field>

  <!-- Tipo de Organización Legal -->
  <mat-form-field appearance="outline">
    <mat-label>Tipo de Organización</mat-label>
    <mat-select formControlName="legal_organization_id">
      <mat-option value="">Seleccione</mat-option>
      @for (type of organizationTypes; track type.id) {
        <mat-option [value]="type.id">
          {{type.name}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>"Tipos de tributo</mat-label>
    <mat-select formControlName="tribute_id">
      <mat-option value="">Seleccione</mat-option>
    @for (type of tributeTypes; track type.id) {
      <mat-option [value]="type.id">
        {{type.name}}
      </mat-option>
    }
 </mat-select>
  </mat-form-field>

  <!-- Municipio -->
  <mat-form-field appearance="outline">
    <mat-label>Municipio</mat-label>
    <input matInput formControlName="municipality_id" />
  </mat-form-field>
</form>