<div class="p-6 max-w-5xl mx-auto bg-white rounded-lg shadow-sm">
  <h1 class="text-2xl font-semibold text-gray-800 mb-6">Formulario de Cliente</h1>

  <form [formGroup]="customerForm" class="space-y-6">
    <!-- Sección de Identificación -->
    <div class="bg-gray-50 p-4 rounded-lg">
      <h2 class="text-lg font-medium text-gray-700 mb-4">Información de Identificación</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <!-- Tipo de Documento -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tipo de documento</mat-label>
          <mat-select formControlName="identification_document_id">
            <mat-option value="">Seleccione</mat-option>
            @for (item of identificationDocumentTypes; track item.id) {
              <mat-option [value]="item.id">
                {{item.name}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

      </div>
    </div>

    <!-- Sección de Información de la Empresa -->
    <div class="bg-gray-50 p-4 rounded-lg">
      <h2 class="text-lg font-medium text-gray-700 mb-4">Información de la Empresa</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Identificación</mat-label>
          <input matInput formControlName="identification" />
        </mat-form-field>

        <!-- DV (Dígito de Verificación) -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>DV</mat-label>
          <input type="number" matInput formControlName="dv" />
        </mat-form-field>

        <!-- Empresa -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Empresa</mat-label>
          <input matInput formControlName="company" />
        </mat-form-field>

        <!-- Nombre Comercial -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Nombre Comercial</mat-label>
          <input matInput formControlName="trade_name" />
        </mat-form-field>

      </div>
    </div>

    <!-- Sección de Información de Contacto -->
    <div class="bg-gray-50 p-4 rounded-lg">
      <h2 class="text-lg font-medium text-gray-700 mb-4">Información de Contacto</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="names" />
        </mat-form-field>

        <!-- Dirección -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="address" />
        </mat-form-field>

        <!-- Email -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
        </mat-form-field>

        <!-- Teléfono -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="phone" type="tel" />
        </mat-form-field>

      </div>
    </div>

    <!-- Sección de Información Tributaria -->
    <div class="bg-gray-50 p-4 rounded-lg">
      <h2 class="text-lg font-medium text-gray-700 mb-4">Información Tributaria</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tipo de Organización</mat-label>
          <mat-select  formControlName="legal_organization_id">
            <mat-option value="">Seleccione</mat-option>
            @for (type of organizationTypes; track type.id) {
              <mat-option [value]="type.id">
                {{type.name}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tipos de tributo</mat-label>
          <mat-select formControlName="tribute_id">
            <mat-option value="">Seleccione</mat-option>
            @for (type of tributeTypes; track type.id) {
              <mat-option [value]="type.id">
                {{type.name}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <!-- Municipio -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Municipio</mat-label>
          <input type="number" matInput formControlName="municipality_id" />
        </mat-form-field>
      </div>
    </div>

    <!-- Botones de Acción -->
    <div class="flex justify-end space-x-3 pt-4">
      <button type="button" class="px-4 py-2 border border-gray-300 rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        Cancelar
      </button>
      <button (click)="emitCustomerForm()" class="px-4 py-2 border border-transparent rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        Guardar Cliente
      </button>
    </div>
  </form>
</div>